In [1]:
dir()

['Avg',
 'Case',
 'ContentType',
 'Count',
 'Exists',
 'F',
 'Group',
 'In',
 'LogEntry',
 'Max',
 'Min',
 'Out',
 'OuterRef',
 'Permission',
 'Prefetch',
 'Q',
 'Session',
 'Students',
 'Subquery',
 'Sum',
 'Teachers',
 'User',
 'When',
 '_',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'cache',
 'exit',
 'get_ipython',
 'get_user_model',
 'quit',
 'reverse',
 'settings',
 'timezone',
 'transaction']

In [2]:
import pandas as pd

[Solution](https://stackoverflow.com/questions/61926359/django-synchronousonlyoperation-you-cannot-call-this-from-an-async-context-u)

In [3]:
import os
import django
os.environ.setdefault('DJANGO_SETTINGS_MODULE', 'dj_pd.settings')
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"
django.setup()

In [4]:
from teacher.models import Teachers
from student.models import Students

In [5]:
student_df = pd.DataFrame(Students.objects.all().values())
teacher_df = pd.DataFrame(Teachers.objects.all().values())

In [6]:
student_df

   id      name  standard                subjects
0   1    Rachel         8          Maths, English
1   2      Ross         9  Maths, English,Science
2   3  Chandler         9  Maths, English,History
3   4    Monica         8           Maths,History
4   5    Pheobe        10         English,History
5   6      Joey        10         English,Science

In [7]:
teacher_df

   id     name subjects
0   1  Sheldon    Maths
1   2    Penny  English
2   3      Amy  History
3   4   Howard  Science

In [37]:
import re
import spacy
import en_core_web_sm
nlp = spacy.load('en_core_web_md')

In [17]:
student_name, student_subject = student_df['name'][0], student_df['subjects'][0]
doc_subject = nlp(student_subject)
similarity = []
for subject in teacher_df['subjects']:
    doc = nlp(subject)
    similarity.append(doc_subject.similarity(doc))

teacher_df['similarity_score'] = similarity

/Users/samruddhimhatre/PycharmProjects/pandas_django_jupyter/venv/lib/python3.7/site-packages/ipykernel_launcher.py:6: UserWarning: [W007] The model you're using has no word vectors loaded, so the result of the Doc.similarity method will be based on the tagger, parser and NER, which may not give useful similarity judgements. This may happen if you're using one of the small models, e.g. `en_core_web_sm`, which don't ship with word vectors and only use context-sensitive tensors. You can always add your own word vectors, or use one of the larger models instead if available.

In [15]:
student_name, student_subject

('Rachel', 'Maths, English')

In [22]:
head = len(student_subject.split())
teacher_df.sort_values('similarity_score', ascending = False)[['name','subjects']].head(head)

      name subjects
1    Penny  English
0  Sheldon    Maths

In [21]:
len(student_subject.split())

2

In [38]:
teacher_name, teacher_subject = teacher_df['name'][0], teacher_df['subjects'][0]
doc_subject = nlp(teacher_subject)
similarity = []
for subject in student_df['subjects']:
#     subject_list = subject.split()
    doc = nlp(subject)
    similarity.append(doc_subject.similarity(doc))

student_df['similarity_score'] = similarity

In [26]:
teacher_name, teacher_subject

('Sheldon', 'Maths')

In [39]:
student_df

   id      name  standard                subjects  similarity_score
0   1    Rachel         8          Maths, English          0.783193
1   2      Ross         9  Maths, English,Science          0.690029
2   3  Chandler         9  Maths, English,History          0.613917
3   4    Monica         8           Maths,History          0.707060
4   5    Pheobe        10         English,History          0.345183
5   6      Joey        10         English,Science          0.513650

In [42]:
student_df[student_df['similarity_score']>=0.55].sort_values('similarity_score', ascending = False)[['name','standard','subjects']].head()

       name  standard                subjects
0    Rachel         8          Maths, English
3    Monica         8           Maths,History
1      Ross         9  Maths, English,Science
2  Chandler         9  Maths, English,History